@tailwind base;

body{
    @apply w-full h-full block bg-[#f1f1f1] text-[sans-serif] p-[20px];
}
h1{
    @apply md:mb-4 md:mt-40 mt-5 mb-8 text-white font-bold text-4xl bg-black bg-opacity-10 p-1;
    text-shadow: 0 0 5px black, 0 0 5px black;
    
}
h2{
    @apply text-xl mb-4;
}
img{
    object-fit: cover;
}
label{
    @apply block mb-4;
}
button{
    background: linear-gradient(to right, #401653, rgb(32, 4, 51));
    @apply block text-white w-full p-2 rounded-full shadow-sm shadow-[#401653];
}
button:hover{
    background: linear-gradient(to right, rgb(72, 27, 93), rgb(42, 5, 67));
}
@tailwind components;
@tailwind utilities;


@layer components{
    .container-form{
        @apply w-full h-screen flex justify-center flex-col;
    }
    .element-one{
        @apply p-[130px] pb-6 px-5 bg-[url('../images/annie-spratt-_8Alc_9BIdE-unsplash.jpg')] bg-cover md:pt-5;
    }
    .element-two{
        @apply md:px-[60px] p-5 bg-white flex-shrink-0 flex justify-center items-center;
    }
    
}
.link{
    text-shadow: 0 0 5px black, 0 0 10px black;
}